@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  @include font-smoothing(on);

  font: $base-text-size / 1 $base-font-family;
}

table {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 15% auto;
}

.zeroButtonTd{
  border-style: hidden hidden solid hidden;
  border-color: #008744;
}

.firstButtonTd{
  border-style: hidden solid solid solid;
  border-color: #0057e7;
}

.secondButtonTd{
   border-style: hidden hidden solid hidden;
   border-color: #ffa700;
 }

.thirdButtonTd{
  border-style: hidden hidden solid hidden;
  border-color: #008744;
}

.fourthButtonTd{
  border-style: hidden solid solid solid;
  border-color: #d62d20;
}

.fifthButtonTd {
  border-style: hidden hidden solid hidden;
  border-color: #ffa700;
}

 .sixthButtonTd {
  border-style: hidden hidden hidden hidden;
  border-color: blue;
}

.seventhButtonTd {
  border-style: hidden solid hidden solid;
  border-color: blue;
}

.eightButtonTd {
  border-style: hidden solid solid hidden;
  border-color: #d62d20;
}

button {
  width: 60px;
  height: 45px;
  background: transparent;
  border: transparent;
  padding: 0;
  //display: none;
}

.resetButton {
  width: 75px;
  height: 45px;
  border: solid;
  border-radius: 10px;
  border-color: blue;
  margin: 15px;
}

.alignItems {
  text-align: center;
  margin: 0;
}

.whosTurn {
  margin: 0;
}
