@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container1{
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.container2{
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

table {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
//  margin: 0 0;
}

.zeroButtonTd{
  border-style: hidden hidden solid hidden;
  border-color: blue;
}

.firstButtonTd{
  border-style: hidden solid solid solid;
  border-color: blue;
}

.secondButtonTd{
   border-style: hidden hidden solid hidden;
   border-color: blue;
 }

.thirdButtonTd{
  border-style: hidden hidden solid hidden;
  border-color: blue;
}

.fourthButtonTd{
  border-style: hidden solid solid solid;
  border-color: blue
}

.fifthButtonTd {
  border-style: hidden hidden solid hidden;
  border-color: blue;
}

 .sixthButtonTd {
  border-style: hidden hidden hidden hidden;
  border-color: blue;
}

.seventhButtonTd{
  border-style: hidden solid hidden solid;
  border-color: blue;
}

.eightButtonTd{
  border-style: hidden solid solid hidden;
  border-color: blue;
}

  button {
  width: 60px;
  height: 45px;
  background: transparent;
  border: transparent;
  padding: 0;
  //display: none;
}

.resetButton {
 width: 60px;
 height: 45px;
// background: transparent;
 border: solid;
 border-radius: 10px;
 border-color: blue;
 position: absolute;
}

.container2{
  position: absolute;
}
